.header, .footer{
min-height: 70px;
}
.nav-link{
    justify-content: end;
}
.row{
    align-items: center;
}
.block{
    font-size: 1rem;
    height: 100%;
    /* padding: 25px; */
}
.main{
    min-height: auto;
}
.main .col{
    min-height: 260px;
    background-color: rgb(238, 238, 238);
}
.row .cards{
    min-height: 200px;
}
.card__image{
    background-color: gray;
    padding: 70px;
}
.card img{
    width: 100%;
}

